/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----start----*/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 1.5;
	background-color: #D4CEA7;
	font-family: sans-serif;
}
.ol .ul {
	padding-left: 50px;
}
/*----header----*/
.header {
	width: 100%;
	/* height: 100px; */
	background-color: #F96115;
}
nav a{
	color: #ffff;
	font-size: 24px;
	text-decoration: none;
	text-transform: capitalize;
	margin-left: 30px;
}
.nav a:hover{
	color: green;
}
nav{
	padding: 30px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 32px;
	/* border: 2px solid black; */
}
.flex {
	display: flex;
	justify-content:left;
	align-items: center;
}
.header-style{
	list-style: none;
}

/*---box----*/
.menu {
	background-color: #005979;
	width: 25%;
	height: 450px;
	border-radius: 2px;
	margin-top: 40px;
	padding: 60px;
	margin-left: 30px;
	margin-bottom: 40px;
}
.list-style-img img{
	list-style-image: url(../block-BHaaby/tick.png);
	width: 30px;
	height: 30px;
}
.ol{
	list-style-type:decimal;
}
.ul{
	list-style: disc;
}

li{
	font-size: 24px;
	color: #CECAA4;
}

dt{
	font-size: 32px;
}
dd{
	margin-left: 32px;
}
dl {
	font-size: 18px;
}
footer {
	margin-top: 30px;
	background-color: #252C22;
}
.footer-style {
	list-style: none;
}